

.home-img {
    padding-right: 10px;
    }

.home-text {
    font-family: 'Rubik', sans-serif;
    font-size: 1.75rem;
    padding:10px;
    max-width: 500px;
    margin: auto;
}

img {
    width: 300px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
      .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
  }