.card {
    display: flex;
    flex-direction: row;
    background: #ab5f8c;
    padding: 20px;
    max-width: fit-content;
    margin: auto;
    border-radius: 15px;
    box-shadow: -5px 5px 0px .5px #cbff4d;
}

.nested {
    display: flex;
    flex-direction: row;
    background: #fecee9;
    margin: auto;
    padding: 50px;
    border-radius: 15px;

}

.home-img {
    padding-right: 10px;
    }

img {
    width: 300px;
    border-radius: 50%;
}