.nav-container {
  background: #50c5b7;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.title {
  display: block;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 3px #1b065e;
  -webkit-text-stroke: 0 #307473;
}

.title:hover {
    color: #d1ff06;
    text-shadow: 2px 3px 0 white;
    -webkit-text-stroke: 1.25px #307473;
}
.nav-list {
    list-style: none;
    display: flex;
   -webkit-text-stroke: 1.25px #307473;
   padding: 2rem;
}
.nav-link {
  font-size: 2rem;
  font-weight: 700;
  color: #e8e9eb;
  text-decoration: none;
  align-items: center;
  padding: 0.5rem 1rem;
  text-shadow: 3px 3px 0 #1b065e;
  -webkit-text-stroke: .5px #612dee;
}
.nav-link:hover {
    color: #eebbda;
    text-shadow: 2px 3px 0 rgb(109, 34, 170);
}

/*  Add media queries
Change font size, color, stack links. Higher contract hover effect
remove hover effect for mobile, replace with on click*/
@media screen and (max-width: 768px) {
  .nav-container {
    background: #50c5b7;
    width: fit-content;
  }

  .nested {
    display: inline-block;
    margin: auto;
    width: fit-content;

  }

  .nav-link {
    -webkit-text-stroke: 0px;
  }

  .title {
    display: block;
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 2px 3px #1b065e;
    -webkit-text-stroke: 0 #307473;
  }
}