.grid-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.grid-item {
  display: grid;
  width: 275px;
  gap: 10px;
  margin: 15px;
  margin-bottom: 24px;
}

.project-img {
  width: 250px;
  margin: auto;
  border-radius: 5%;
}

.app-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: auto;
}

p {
  margin: auto;
  text-align: center;
}

a {
  font-weight: 700;
  color: #831c5a;
  text-decoration: none;
}

.project-img:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease 0s;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}