.grid-container {
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

.grid-project-item {
  display: grid;
  width: 300px;
  grid-gap: 10px;
  margin: 20px;
  justify-items: center;
}

.project-img {
  width: 250px;
  margin: auto;
  border-radius: 5%;
}

.app-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: auto;
}

p {
  margin: auto;
  line-height: 1.5em;
  text-align: justify;
}

.project-img:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease 0s;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}